extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)
    meta(name='description', content='A social web application for users to openly express their ideas or share their experiences with a general audience over a vast amount of categories.')
  meta(name='title', property='og:title', content='Avocati')
  meta(property='og:type', content='Avocati')
  meta(name='image', property='og:image', content='https://live.staticflickr.com/65535/51354925082_3988cab5fc_z.jpg')
  meta(name='description', property='og:description', content='A social web application for users to openly express their ideas or share their experiences with a general audience over a vast amount of categories.')
  meta(name='author', content='Owen Beckles')
block content
  div(class="landing-header-container")
    div(class="landing-header-content")
      if authenticated
        div(class="landing-header-text-box")
          h1(class="landing-header-text") Welcome Back, #{user.firstName}
          p Start sharing your passions 
            span: a(href="/story-new") here
        div(class="landing-header-img-div")
        a(href=`/users/${user.id}`): button(class='landing-button') My Profile
      else 
        div(class="landing-header-text-box")
          h1(class="landing-header-text") Where good ideas find you
          p Read and share new perspectives on just about any to hobby. Everyone's welcome.
        div(class="landing-header-img-div")
        a(href="/users/signup"): button(class="landing-button") Get Started
        a(href="/users/demo"): button(class="landing-button demo") Demo
  section(class="trending")
    h2(class="trending-text") Trending on Avocati
    div(class="landing-top-stories")
      each story in topStories 
        div(class="landing-top-story")
          div(class="trending-number")
            p= `0${story.number}`
          div(class="landing-top-story__title") 
            a(href=`/${story.id}` class="landing-top-story-title")= story.title
            p(class="landing-top-story-timestamp")= story.timestamp
  div(class="other-content")
    div(class="landing-other-stories")
      each story in otherStories
        div(class="landing-other-story")
          div(class="landing-other-story-textbox")
            a(href=`/${story.id}` class="landing-other-story-title")= story.title
            p(class="landing-other-story-timestamp")= story.timestamp
          div(class="landing-other-story-imgbox")
            if(story.imgUrl)
              img(class="other-story-img" src=story.imgUrl, alt="story-photo.png")
            else
              div(class="landing-other-story-placeholderimg")
    div(class="other-follow")
        div(class="other-follow-text")
          h3 Follow your favorite writers
          p Start following users by clicking the "Follow" button
        div(class="other-follow-div")
          div(class="other-follow-people")
            each user in usersToRender
              div(class="follow-user-box")
                div(class="follow-user-img")
                  if user.imgUrl
                    img(src=user.imgUrl)
                  else 
                    img(src="/images/profile-icon.png")
                a(href=`/users/${user.id}`): div(class="follow-user-text")
                  p(class="follow-user-name") #{user.firstName} #{user.lastName}
                  p(class="follow-user-bio")= user.bio
                div(class="follow-user-btn")
                  if user.following
                    button(class="green-btn-follow" data-Value=user.id) Following 
                  else 
                    button(class="green-btn-follow" data-Value=user.id) Follow 
          //- import 3 users and populate them here
    //- designing page for now to exclude the container the suggests topics to follow, 
    //- will need to change layout of "landing-other-stories once we get there"