extends layout
append head
  script(async defer src="/javascripts/individual-stories.js")
block content
    div(id="individual-story-container")
        div(id="individual-story-title")
            h1 #{story.title}
        div(id="story-user")
            p Created By: #{user.userName}
        if story.imgUrl
            div(id="img-div")
                img(id="image" src=`${story.imgUrl}`)
        div(id="individual-story-content")
            p(id="paragraph-content") #{story.content}
            div(id="comments-and-likes")
                i(class="far fa-comment story-comment")
                i(class="far fa-heart" id="like-button" data-Value=pageId)
                button(class="story-likes" type="submit") #{likes.likeCount}
        //- COMMENT SECTION
        div(id="comment-box" class="hidden")
            div(class="comment-section comment-exit")
                p Responses
                i(class="fas fa-times")
            div(class="comment-section comment-input")
                form(class="comment-form" data-Value=pageId)
                  textarea(id="comment-content" name='comment-content' placeholder="What are your thoughts?" rows="5" cols="35")
                  div
                    button Respond
            div(class="comment-section comments-display")
                each comment in story.Comments 
                  div(class="single-comment-box")
                    div(class="single-comment-box__user")
                      p= comment.User.userName
                      p= comment.createdAt
                    p= comment.content
    if isCurrentUsersStory
        div(id="button-container")
            button(class='edit-btn'): a(href=`/${story.id}/edit` class="edit-redirect") Edit Story
            form(action=`/${story.id}` method='post')
                input(type='hidden' name='_csrf' value=csrfToken)
                button(class='btn' type='submit') Delete Story
